

body {
  width: 900px;
  margin: auto;
}
/* gap between text lines  */
div,p{
  line-height:20px;
}

#navBar {
  display: inline-block;
  width: 100%;
  
}

nav a {
  padding: 10px;
  text-decoration:none;
}

#logo {
  float: left;
}
#navMenu {
  float: right;
  padding-top: 40px;
  
}
.tlf-button{
  background-color:#267df4 ;
  color: #ffffff;
  padding: 8px;
  border: none;
  border-radius: 4px;
}
/* main Article start */

#mainArticle {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
  padding-left: 0px;
}
#leftArticle {
  float: left;
  width: 50%;
  color: #444444;
  font-size: 30px;
  line-height:30px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.left-title{
  padding-left: 30px;
  line-height: 35px;
}
.textBlue {
  color: #267df4;
}

#rightArticle {
  float: right;
  width: 50%;
  color: #727b82;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: justify;
}
/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
  border: 0px solid red;

  margin: 40px 0px 30px 0px;
}

/*  img Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  padding-top: 90px;
  text-align: left;
  padding-left: 40px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* seivice style starts */
#service-div{
    padding-left: 30px;
}

.service-table {
  margin: 20px 0px 30px 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  
}
.service i {
  color: #267df4;
  padding: 10px 0px;
  font-size: 20px;
}
.service h5 {
  font-weight: bold;
  padding: 10px 0px;
  color: #444444;
  font-size: 15px;
}
.service {
  padding: 10px 20px 0px 0px;
}
.service P {
  color: #959ca2;
  font-size: 15px;
}

/* service section ends */

footer {
  background-color: #267df4;
  padding: 20px;;
}
#footer-table{
    width: 100%;
}
#footer-table h5 {
  color: #ffffff;
  font-weight: bold;
}
#footer-table td {
  border: 0px solid black;
  color: #b8cdeb;
  padding: 10px ;
  font-size: 15px;
}
.input-footer{
    width: 90%;
    padding: 5px;
    background-color: #fff3cd;
    color: #664d03;
}


